<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
  </head>
  <body>
    <h1>Hello Spring Boot</h1>
    <a href="new">Add new product</a>
    <hr />
    <table border="1">
      <thead>
        <tr>
          <th>Product ID</th>
          <th>Name</th>
          <th>Brand</th>
          <th>Made In</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="product : ${products}">
          <td th:text="${product.id}">Product ID</td>
          <td th:text="${product.name}">Name</td>
          <td th:text="${product.brand}">Brand</td>
          <td th:text="${product.madein}">Made In</td>
          <td th:text="${product.price}">Price</td>
          <td>
            <a th:href="@{'/edit/' + ${product.id}}">Edit</a>
            &nbsp;&nbsp;&nbsp;
            <a th:href="@{'/delete/' + ${product.id}}">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
